{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}

{% block content %}
<div class="text-center">
    <div class="container">
        <br>
        <h3>Please enter login details</h3>
        <br>
        <form method="POST" style="color: lightgrey;">
            {{ form.hidden_tag() }}
            {{ form.username.label(class='form-label') }}
            {{ form.username(class='form-control', placeholder='User Name') }}
            <br>
            {{ form.password.label(class='form-label') }}
            {{ form.password(class='form-control', placeholder='Password') }}
            <br>
            <div>
                <h6>Do not have an account?</h6>
                <a class="btn btn-sm btn-secondary" href="{{ url_for('register') }}">Register</a>
            </div>
            <br>
            {{ form.submit(class="btn btn-primary btn-lg") }}
        </form>
    </div>
</div>
{% endblock %}